html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes right {
  0% {
      transform: rotateZ(0deg);
  }

  25% {
      transform: rotateZ(3deg);
  }

  50% {
      transform: rotateZ(-3deg);
  }

  75% {
      transform: rotateZ(3deg);
  }

  100% {
      transform: rotateZ(0deg);
  }
}

#twi,
#fb,
#insta {
  animation: media 5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes media {
  0% {
      transform: rotateZ(0deg);
  }

  25% {
      transform: rotateZ(30deg);
  }

  50% {
      transform: rotateZ(-30deg);
  }

  75% {
      transform: rotateZ(30deg);
  }

  100% {
      transform: rotateZ(0deg);
  }
}

#arrow {
  animation: arrow 1s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes arrow {
  from {
      transform: translateX(0px);
  }

  to {
      transform: translateX(10px);
  }
}